@page "/employeelist"
<h2>Employees Data</h2>
<div>
    <a>
        Add Employee
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>Created</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Name1</td>
            <td>Department1</td>
            <td>Date</td>
            <td>
                <div>
                    <a href="/">Edit</a>
                </div>
                <div>
                    <a href="/">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>



@code {

}
